

{% form 'create_customer' %}
  {{ form.errors | default_errors }}
<div id="CustomerLoginForm">
<h2 class="index-f-products__title">{{ 'customer.register.title' | t }}</h2>
  <label for="FirstName" class="my_login_sec">
    {{ 'customer.register.first_name' | t }}
  </label>
  <input type="text"
    name="customer[first_name]"
    id="FirstName"
    placeholder="{{ 'customer.register.first_name' | t }}"
    autofocus
    {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

  <label for="LastName" class="my_login_sec">
    {{ 'customer.register.last_name' | t }}
  </label>
  <input type="text"
    name="customer[last_name]"
    id="LastName"
    placeholder="{{ 'customer.register.last_name' | t }}"
    {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

  <label for="Email" class="my_login_sec">
    {{ 'customer.register.email' | t }}
  </label>
  <input type="email"
    name="customer[email]"
    id="Email"
    class="{% if form.errors contains 'email' %}input-error{% endif %}"
    placeholder="{{ 'customer.register.email' | t }}"
    value="{% if form.email %}{{ form.email }}{% endif %}"
    spellcheck="false"
    autocomplete="off"
    autocapitalize="off">

  <label for="CreatePassword" class="my_login_sec">
    {{ 'customer.register.password' | t }}
  </label>
  <input type="password"
    name="customer[password]"
    id="CreatePassword"
    class="{% if form.errors contains 'password' %}input-error{% endif %}"
    placeholder="{{ 'customer.register.password' | t }}">

  <label for="password_confirmation" class="my_login_sec">Repeat Password</label> <span class="password-match" style="display:none;">PASSWORDS DO NOT MATCH</span>
  <input type="password" value="" name="customer[password_confirmation]" id="password_confirm" placeholder="Repeat your password" />
   
  	<div style="margin: 30px 0 20px;" class="Submit_button_sce">
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button">
  </div>
  <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
  </div>
{% endform %}
