<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="site-header__announcement-bar">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a class="site-header__announcement-link" href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p class="site-header__announcement-text">{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header class="max-wrap" role="banner">
    <div class="row no-gutters">
      <div class="col">
        <div class="site-header__rewards">
          <h4 class="site-header__rewards-title">GET REWARDED</h4>
          <p class="site-header__rewards-text">with our <span style="color:#ffa5b4;"> loyalty program </span></p>
        </div>
      </div>
      <div class="col">
        {% if template.name == 'index' %}
          <h1 class="site-header__logo-container">
        {% else %}
          <div class="site-header__logo-container">
        {% endif %}
            <a href="/" class="site-header__logo-link">
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img class="site-header__logo"
                  src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}" />
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
      <div class="col">
        <div class="site-header__contact-wrap">
		  <div class="conatct_detail">
  <span class="text3">
  <a href="tel:940 432 1233"><i class="fa fa-phone"></i>  940 432 1233</a>
  </span>
    <span class="text3">
	<a href="mailto:info@sip.com" target="_top"> <i class="fa fa-envelope-o"></i>  info@sip.com</a>
  </span>
  </div>
          <a href="" class="site-header__contact"></a>
        </div>
      </div>
    </div>
  </header>

  <div class="site-header__menus">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 RESPONSIVE_NAV">
	  <ul class="menu_sign_in_sec">
			<li class="dropdown" style="width: 23%; float: right;">
					  <a class="dropdown-toggle" data-toggle="dropdown"  style="cursor-pointer:none;">Sign In<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  {% if customer %}
						<li><button type="button" class="btn"><a href="/account/login" style="color:#fff;">Sign In</a></button></li>
						<li><button type="button" class="btn btn-default"><a href="/account/register">Sign Up</a></button></li>
						{% else %}
						<li><button type="button" class="btn btn-default"><a href="/account/">Account</a></button></li>
						{% endif %}
						<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>    Track Your Order</a></li>
						 <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i>  Initiate a Return</a></li>
					  </ul>
					</li>
	  </ul>
	  {% comment %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% else %}
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          {% endif %}
        {% endif %}
		{% endcomment %}
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 search_icon">
        {% comment %} <button class="site-header__utility-link" type="button"></button>
        
		{% endcomment %}
        {% comment %} TODO - wishlist {% endcomment %}
		<ul>
		<a href="#"><i class="fa fa-search search_sectin" aria-hidden="true"></i></a>
		<div class="search_sec" style="display:none;">
		<div class="search_inner">
		<div class="close_icon">
		{% include 'icon-close' %}
		</div>
		<form action="/search" method="get" role="search" class="">
          <label for="Search-{{ section.id }}" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
			<div class="inner_div">
          <input type="search"
            name="q"
            id="Search-{{ section.id }}"
            value="{{ search.terms | escape }}"
            placeholder="Search">

          <button type="submit" class="button">
            {% include 'icon-search' %}
            <!--span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span--->
          </button>
		  </div>
        </form>
		
		</div>
		</div>
        <a id="mi_wish" href="#swym-wishlist" class="site-header__utility-link"><img src="https://img.icons8.com/material-sharp/24/000000/like.png"></a>
        <a href="#" class="site-header__utility-link mini_cart_icon">
          {% include 'icon-cart' %}
          <div class="cart_count">{{ cart.item_count }}</div>
        </a>
		</ul>
      </div>
<div class="col-md-12 menu_imain_Sec">

<nav role="navigation">
          <ul>
            {% for link in linklists[section.settings.menu].links %}
              {% if link.links != blank %}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                  </a>
                  <ul>
                    {% for childlink in link.links %}
                      <li>
                        <a href="{{ childlink.url }}">
                          {{ childlink.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
</div>
    </div>




  </div>
  
</section>
<div class="header_cart_sec">
   <form action="/checkout" method="post" id="cart" class="hj mm-menu mm-theme-white mm-offcanvas mm-right mm-front mm-current " >
   
        <h2>Shopping Bag</h2>
		<div class="earning_sec">
		<p><span>$25.00 </span>away from earning <span> FREE shoping</span></p>
		</div>
        <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}"
            data-shop-name="{{ shop.name | escape }}" class="">
			
			
			
            <li class="mm-subtitle cart_close">{% include 'icon-close' %}</li>

            {% if cart.item_count == 0 %}
                <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
            {% else %}
                {% for item in cart.items %}
                    <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
                       
                        <a href="{{ item.url }}">
                            {% if item.image %}
                                <div class="cart_image">
                                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                                </div>
                            {% endif %}
						</a>
						<div class="mini_cart-detail">
                            <div class="item_title">{{ item.title }}</div>
                            
							 <div class="mm-counter">
							 <div class="icon_sve">
							 
                            <span class="icon-minus minus sub">{% include 'icon-minus' %}</span><input type="text" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /><span class="icon-plus plus add">{% include 'icon-plus' %}</span>
							 </div>
							<strong class="price">
                                <span class="money">{{ item.price | money }}</span>
                            </strong>
							</div>
							
                       
						</div>
                        
                    </li>
                {% endfor %}
                <li class="mm-label total">
					<strong>Subtotal</strong>
                    <p class="mm-counter">
                        <span class="money">{{ cart.total_price | money }}</span>
                    </p>
                    
                </li>

                <li class="mm-subtitle clearfix">

                    <input type="submit" class="action_button right" value="Checkout" />
                    <!--a href="/cart" class="action_button edit_cart right">View Cart</a-->
                </li>
            {% endif %}
        </ul>
    </form>
	</div>




{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }

  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "class": "site-header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
