<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if section.settings.title %}
        <h3 class="index-newsletter__title">{{ section.settings.title }}</h3>
      {% endif %}
      {% if section.settings.message %}
        <div class="index-newsletter__message">{{ section.settings.message }}</div>
      {% endif %}
    </div>
    <div class="col-md-6">
     <div class="newsletter-section{% if section.settings.show_background %} index-section--newsletter-background{% endif %}">
  <div class="page-width text-center">
   
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <div class="input-group password__input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email"
            name="contact[email]"
            id="Email"
            class="input-group__field newsletter__input"
            value="{% if customer %}{{ customer.email }}{% endif %}"
            placeholder="Enter your email address"
            autocorrect="off"
            autocapitalize="off">
          <span class="input-group__btn">
            <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
              <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </span>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Newsletter",
    "class": "index-newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "message",
        "label": "Message"
      }
    ],
    "presets": [{
        "name": "Newsletter",
        "category": "Front Page"
    }]
  }
{% endschema %}
